<div *ngFor="let question of questions; let i = index">
    <app-question 
        [questionText]="question.text" 
        [reponses]="question.reponses"
        [correctReponse]="question.reponses[correctAnswers[i]]"
        [isConfirmed]="score !== null" 
        (answerSelected)="captureAnswer(i, $event)">
    </app-question>
</div>

<div class="centered-container">
    <button (click)="submitAnswers()">Confirmer</button>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
    
    <div *ngIf="showResults">
        Vous avez {{ correctAnswersCount }} bonnes réponses sur {{ questions.length }}.
    </div>
</div>